/* src/styles/Info.css */
@import './variables.css';

/* Global styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.info-page {
    display: flex;
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100vh;
    overflow: hidden; /* Prevents overflow to keep the layout clean */
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: var(--spacing-large) 0;
}

.search-bar{
    width: 80%;
    padding: var(--spacing-small);
    border: 4px solid var(--color-container-background);
    border-radius: 8px;
}

.search-bar:hover{
    border: 4px solid var(--color-hover-border);
}

.sidebar {
    width: 190px;
    background-color: var(--color-sidebar-background);
    padding: var(--spacing-medium);
    position: absolute;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10; /* Ensures the sidebar is above other elements */
}

.sidebar ul {
    list-style: none;
    padding: 0; /* Removes default padding for list */
}

.sidebar.open {
    transform: translateX(0); /* Slides the sidebar into view */
}

.sidebar h2 {
    font-size: var(--font-size-large); /* Adjusts heading size within the sidebar */
    color: var(--color-sidebar-heading);
}

.sidebar a {
    color: var(--color-sidebar-text);
}

.close-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2.5em;
    color: var(--color-close-btn);
    cursor: pointer;
    position: absolute;
    top: -23px;
    right: -23px; /* Positions the close button */
}

.reset-btn {
    background-color: var(--color-secondary);
    color: var(--color-text);
    cursor: pointer;
    padding: var(--spacing-small) var(--spacing-large);
    border: none;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.reset-btn:hover {
    background-color: var(--color-warning); /* Changes color on hover */
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20; /* Ensures the menu button is above other elements */
    background-color: var(--color-sidebar-background); /* Match the sidebar color */
}

.content {
    flex-grow: 1;
    padding: var(--spacing-medium);
    overflow-y: auto; /* Allows vertical scrolling */
    display: flex;
    flex-direction: column;
    margin-left: 190px; /* Align with sidebar width */
}

.media-section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-medium);
    flex-grow: 1;
}

.container-content-articles,
.container-content-books,
.container-content-videos {
    background-color: var(--color-container-background);
    border-radius: 8px;
    padding: var(--spacing-small);
    flex: 1 1 100%;
}

.article-item:hover,
.book-item:hover,
.video-item:hover {
    border: 2px solid var(--color-hover-border);
    border-radius: 8px;
    margin: var(--spacing-small) 0.25rem;
    padding: 0.25rem; /* Adds padding for better spacing on hover */
}

.article-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
}

.article-image {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.article-info {
    flex-grow: 1;
    margin: var(--spacing-medium) 0 var(--spacing-large); 
}

.book-item {
    text-align: center;
}

.book-cover {
    width: 150px;
    height: auto;
    margin: 0 auto 10px;
    border-radius: 8px;
}

.book-info {
    text-align: left;
}

.toggle-description-btn {
    background: none;
    border: 2px solid var(--color-read-btn);
    cursor: pointer;
    font-size: var(--font-size-medium);
    color: var(--color-read-btn);
    display: flex;
    padding: 0.6rem;
    margin: 1rem 0;
    width: 40%;
}

.toggle-description-btn:hover {
    text-decoration: underline;
}

.read-link {
    display: block;
    color: var(--color-link-content);
    border: 2px dotted var(--color-link-content);
    border-radius: 8px;
    padding: 0.15rem;
    margin: 0.25rem;
    width: 40%;
    text-align: center;
    font-weight: bold;
}

.read-link:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .media-section {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-medium);
    }

    .container-content-articles {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
    }

    .container-content-books,
    .container-content-videos {
        flex: 1 1 45%; /* Adjust flex basis for better layout */
    }

    .article-item {
        flex-direction: row; /* Aligns items in a row */
    }

    .book-item {
        flex-direction: column;
        align-items: center; /* centers book items */
    }
}

h2 {
    margin-bottom: var(--spacing-small);
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        width: 180px;
        padding: var(--spacing-medium);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .close-btn {
        display: block; /* Shows the close button on small screens */
    }

    .menu-btn {
        display: block; /* Shows the menu button on small screens */
        background-color: var(--color-sidebar-background); /* Match the sidebar color */
    }

    .content {
        margin-left: 0;
        width: 100%; /* Full width content */
    }

    .container-content-articles,
    .container-content-books,
    .container-content-videos {
        flex: 1 1 100%; /* Full width within the container */
    }

    .read-link {
        width: 80%;
        padding: 0.75rem;
        margin: 0.5rem;
    }

    .toggle-description-btn{
        width: 80%;
    }

    .article-item,
    .book-item,
    .video-item {
        padding: 1rem;
    }

    .article-item {
        flex-direction: column;
        align-items: flex-start; /* Aligns items to the start */
    }

    .book-item {
        text-align: center; /* Centers text in book items */
    }
}
