/* src/styles/support.css */
@import './variables.css';

.support-page {
    padding: 20px;
    background-color: var(--color-background);
    color: var(--color-text);
}

/* Styling for the container holding support cards */
.support-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.support-card, .map-card {
    background-color: var(--color-background-content);
    border: 1px solid var(--color-hover-border);
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.3s ease, background-color 0.3s ease;
}

.support-card {
    width: 49%;
    height: 105px;
    margin-bottom: 20px;
}

/* Expanded state of the support card */
.support-card.expanded {
    height: auto;
    overflow: visible;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    color: var(--color-text);
    background-color: var(--color-surface);
    position: relative;
}

.card-header .toggle-button {
    background: none;
    border: none;
    color: var(--color-text);
    font-size: 1.5rem;
    cursor: pointer;
}

.icon{
    font-size: 2.5em;
}

/* Content inside the card */
.card-content {
    padding: 15px;
    background-color: var(--color-background-content);
    color: var(--color-text);
    display: none;
}

.support-card.expanded .card-content,
.map-card.expanded .card-content {
    display: block;
}

.map-card {
    width: 100%;
    height: auto;
    position: relative;
}

.map-card-content {
    width: 100%;
    height: auto;
}
/* Fixed height to ensure full map visibility */
.map-container {
    height: 1200px; 
    width: 100%;
}

.map-card .leaflet-container {
    width: 100%;
    height: 1200px; 
}

.clinic-name {
    color: var(--color-background-content);
}

.clinic-info {
    color: var(--color-text);
    font-weight: bold;
    margin-bottom: 5px;
}

/* Footer-like container for copyright styling */
.container-contact-copyright {
    margin-top: 20px;
    text-align: center;
    color: var(--color-text);
}

/* Responsive design adjustments for small screens */
@media (max-width: 768px) {
    .support-card {
        width: 100%;
    }

    .card-header .toggle-button {
        display: block;
    }

    .map-card {
        width: 100%;
        height: auto;
        position: relative;
    }
}
